.container{
    border: 2px solid black;
    margin: 5px;
    display: flex;
    height: 40vh;
    justify-content: center;


    /* container properties */

    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */

    align-items: center;
    /* align-items: flex-end; */
    /* align-items: flex-start; */

    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    align-content: center;
    gap: 5px;
    /* gap: 5px 20px; */
    /* row-gap: 10px; */
    /* column-gap: 30px; */


    
    
}

.item{
    height: 24px;
    width: 24px;
    background-color: blue;
    border: 2px solid black;

    /* margin: 5px; */

    /* item properties  */
}

.order-1{
    order: 1;
}